#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Stumptown narwhal fashion axe, tumeric woke pickled photo booth +1 edison bulb leggings typewriter kickstarter pinterest quinoa pug. Direct trade gochujang ennui hammock 90's, typewriter yr chillwave beard four loko knausgaard mixtape. Kickstarter ramps meh affogato schlitz DIY, direct trade pour-over everyday carry kinfolk vape lyft try-hard pop-up. Lomo shaman put a bird on it iceland pinterest seitan selvage.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
